body{
    background: rgb(116, 170, 231);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    
}

section{
    background: white;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

}

select{
    width: 150px;
}


div{
    padding: 100px;
    text-align: lef;
    height: px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}